#page_landing{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content:center;
    align-items:center;

    color: var(--color-text-in-primary);
    background: var(--color-primary);
}

.logo_container img{
    height: 10rem;
}

.hero_image{
    width: 100%;
}

.logo_container{
    text-align: center;
    margin-bottom: 3.2rem;
}

.logo_container h2{
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 4.6rem;
    margin-top: 0.8rem;
}

.buttons_container{
    display: flex;
    justify-content: center;
    margin: 3.2rem 0;
}

.buttons_container a{
    width:30rem;
    height: 10.4rem;
    border-radius: 0.8rem;
    
    font: 700 2.0rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: var(--color-button-text);

    transition: background-color .2s;
}

.buttons_container a:first-child{
    margin-right: 1.6rem;
}

.buttons_container a img{
    width: 4rem;
}

.buttons_container a.study{
    background: var(--color-primary-lighter);
}

.buttons_container a.give_classes{
    background: var(--color-secondary);

}

.buttons_container a.study:hover{
    background: var(--color-primary-light);
}

.buttons_container a.give_classes:hover{
    background: var(--color-secondary-dark);

}

.total_connections{
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.total_connections img{
    margin-left: 0.8rem;
}

@media (min-width: 1100px){
    #page_landing_content{
        max-width: 1100px;
        display: grid;
        grid-template: 350px 1fr/2fr 1fr 1fr;
        grid-template-areas: 
            "logo hero hero"
            "buttons buttons total"
        ;
    }

    .logo_container{
        grid-area: logo;
        align-self: center;
        margin: 0;
        text-align: left;
    }

    .logo_container h2{
        text-align: initial;
        font-size: 3.6rem;
    }

    .logo_container img{
        height: 100%;
    }

    .hero_image{
        grid-area: hero;
        justify-self: end;
    }

    .buttons_container{
        grid-area: buttons;
        justify-content: flex-start;
    }

    .buttons_container a{
        font-size: 2.4rem;
    }

    .total_connections{
        grid-area: total;
        justify-self: end;
    }
}